<apex:page >
    
   <!-- <apex:includeScript  value="{!URLFOR($Resource.example, '/example/jquery.jOrgChart.js')}"></apex:includeScript>-->
    <script language="JavaScript" type="text/javascript"  src="https://tdk-dev-ed--c.ap2.visual.force.com/resource/1495023761000/OrgChartJS"></script>
    <script language="JavaScript" type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <apex:stylesheet value="{!URLFOR($Resource.example, '/example/css/jquery.jOrgChart.css')}"/>
        <ul id="org" style="display:none">
            <li>
            Food
        <ul>
            <li>Beer</li>
        <li>Vegetables
        <ul>
            <li>Pumpkin</li>
        <li><a href="http://tquila.com" target="_blank">Aubergine</a></li>
            </ul>
        </li>
        <li>Bread</li>
        <li>Chocolate
        <ul>
            <li>Topdeck</li>
        <li>Reese's Cups</li>
        </ul>
        </li>
        </ul>
        </li>
        </ul>
</apex:page>